/*************************
* Main Container Styling *
*************************/

.selection {
	background-color:red;
	opacity:0.25;
	z-index:9;
	position:absolute;
}

.page.link-creation {
	cursor:crosshair;
}


/*************************
* Left Container Styling *
*************************/

#page-options {
	padding-bottom:20px;
	padding:0px 10px 20px 10px;
	margin-bottom:20px;
}

.page-item {
	color:#6C6C6C;
	font-size:16px;
	font-family:'ProxLight';
	border-bottom:1px dashed #c0c0c0;
	padding:6px;
	text-align:center;
	-o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
	border:none;
}

.page-item.name {
	border-bottom:none;
	text-align:center;
}

.page-item.sections {
	text-align:center;
	width:100%;
	margin-bottom:10px;
	padding:0px;
}

.page-item.sections > #name-sections {
	display:inline-block;
	text-align:center;
	padding:3px;
}

.page-item.sections > #name-sections > .name-section {
	background-color:#344653;
	color:#fff;
	cursor:pointer;
	/*float:left;*/
	display:inline-block;
	padding:5px;
	border-radius:5px;
	font-size:14px;
	margin:2px;
	-o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

.page-item.sections > #name-sections > .name-section:hover {
	background-color: #021829;
}

.page-item.link {
	cursor:pointer;
	border-radius:5px;
}

.page-item.link:hover {
	background-color:#d1d1d1;
}

.page-item > input[type=text] {
	font-size: 14px;
	height: 22px;
	width: 100px;
	vertical-align: middle;
	margin: 1px 5px 0px 5px;
	display:inline-block;
	box-shadow: none;
	-webkit-appearance: none;
	border: 2px solid #c2c0c6;
	background-color: #fff;
	color: #021829;
	border-radius: 3px;
	padding:0px 5px;
}

.page-item > input[type=text]:focus {
	border: 2px solid #009ED8;
	box-shadow: none;
	outline:0 none;
}

.page-item.name > div {
	font-size: 18px;
	font-family: 'ProxThin';
	width: 90%;
	resize:none;
	vertical-align: middle;
	display:inline-block;
	box-shadow: none;
	-webkit-appearance: none;
	border: 2px solid #c2c0c6;
	background-color: #fff;
	color: #021829;
	border-radius: 3px;
	padding:3px 5px;
	background-color:#F5F5F7;
}

.page-item.name > div:focus {
	border: 2px solid #009ED8;
	box-shadow: none;
	outline:0 none;
}

.page-item.name > div:empty:not(:focus):before{
  content:attr(data-ph);
  color:#ccc;
  font-style:italic;
}

.page-item > #add-section {
	display:inline-block;
	
}

.page-item > #add-section > span {
	color: #fff;
	font-size: 12px;
	line-height: 12px;
	background-color: #019ED5;
	padding: 4px 5px 5px 5px;
	border-radius: 3px;
	cursor:pointer;
	-o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

.page-item > #add-section > span:hover {
	background-color:#008BC1;
}

.page-item > select {
	font-size:14px;
	margin-bottom:2px;
	box-shadow: none;
	border: 2px solid #c2c0c6;
	background-color: #fff;
	color: #021829;
	border-radius: 3px;
	padding:0px 5px;
}

.page-item > select:focus {
	border: 2px solid #009ED8;
	box-shadow: none;
	outline:0 none;
}

/**************************************************************************************************************************************************/
span.disabled, span.disabled:hover, .page-item.sections.disabled > #name-sections > .name-section, 
.page-item > #add-section > span.disabled, .page-item.sections.disabled > #name-sections > .name-section:hover, 
.save-button.disabled, .save-button.disabled:hover, .cancel-button.disabled, .cancel-button.disabled:hover {
	background-color:#ccc;
	cursor:default;
}

select:disabled, input[type=text]:disabled {
	color:#ACB1AC;
	background-color:#F5F5F7;
}

.page-item.disabled, .page-obj.disabled, .container-title.disabled {
	color:#ccc;
}

.page-item.link.disabled, #linked-page.disabled, .page-obj.disabled, #linked-page.disabled {
	cursor:default;
}

.page-item.link.disabled:hover, .page-obj.disabled:hover {
	background-color:transparent;
}

.page-item.link.only-enabled {
	background-color:#344653;
	color:#fff;
}

.page-item.link.only-enabled:hover {
	background-color:#00071E;
}

.link.hidden {
	display:none;
}
/**************************************************************************************************************************************************/


.save-div {
	margin-top:20px;
}

#save-page {
	position: absolute;
	bottom: 100px;
	width: 100%;
	margin-left: -10px;
}

#save-page > .save-button {
	width: 120px;
	padding: 12px 0;
}

.save-button, .cancel-button {
	color: #fff;
	background-color: #089900;
	border: none;
	padding: 9px 0px;
	width:99px;
	font-size: 18px;
	line-height:18px;
	border-radius: 5px;
	-o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

.cancel-button {
	background-color:#C71621;
}

.save-button:hover {
	background-color: #097f01;
}

.cancel-button:hover {
	background-color:#9e0c13;
}

.save-button:focus, .cancel-button:focus {
	border: none;
	box-shadow: none;
	outline:none;
}

/**********************
* Link Editor Styling *
**********************/

#link-edit > #popup-menu {
	position:absolute;
	z-index:10;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-right:2px;
	background-color:green;
	display:none;
}

#link-edit > #popup-menu > .menu-btn {
	float:left;
	color:#dddddd;
	border-right:1px solid #dddddd;
	font-size:12px;
	margin:3px 0px;
	padding:0px 6px;
	cursor:pointer;
}

#link-edit > #popup-menu > .menu-btn:last-child {
	border-right:none;
}

#link-edit > #popup-menu > .menu-btn:hover {
	color:#fff;
}

#link-options {
	padding:0px 10px 40px 10px;
	border-bottom:1px dashed #c0c0c0;
	margin-bottom:20px;
}

#linked-page {
	width:90%;
	margin:0 auto;
	padding:3px 5px;
	border-radius: 3px;
	color: #021829;
	font-size: 14px;
	background-color:#F5F5F7;
	border: 2px solid #c2c0c6;
	box-shadow: none;
	-webkit-appearance: none;
	cursor:pointer;
	display:block;
	vertical-align: middle;
	text-align:left;
	cursor:default;
}

#linked-page.dragover {
	border: 2px solid #009ED8;
}

#linked-page-placeholder {
	color:#ACB1AC;
}

#linked-page-obj {
	display:none;
	text-align:center;
	cursor:pointer;
}

#other-pages {
	margin-right: 15px;
	padding:0 5px 0 20px;
	overflow-y: auto;
	position: absolute;
	bottom: 20px;
	top: 340px;
	right: 0px;
	left: 0px;
}

#other-pages::-webkit-scrollbar { 
	width: 10 !important; 
}

.page-obj {
	color: #6C6C6C;
	font-size: 14px;
	font-family:'ProxLight';
	text-align:left;
	cursor:pointer;
	padding:5px 8px 5px 24px;
	border-radius:4px;
	-o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
    border-bottom:1px dotted #c0c0c0;
    text-indent:-16px;
}

.page-obj:hover {
	background-color:#d1d1d1;
}

.dragging-page {
	padding:10px 10px 10px 26px;
	text-indent:-16px;
	background-color:#004977;
	color:#fff;
	border-radius:5px;
	max-width:247px;
	position:absolute;
	z-index:10;
}

.existing-page {
	padding:10px 10px 10px 26px;
	text-indent:-16px;
	background-color:#D12E32;
	color:#fff;
	border-radius:5px;
	max-width:247px;
	position:absolute;
	z-index:10;
}

#no-links-selected {
	color: #6c6c6c;
	font-family: 'ProxThin';
	font-size: 20px;
	margin-top: 15px;
}

/**************************************************************************************************************************************************/

#page-name-sp {
	box-shadow: none;
	border: 2px solid transparent;
	padding:5px 10px;
	border-radius: 3px;
	-o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

#page-name-sp:hover, #page-name-sp.highlight {
	box-shadow: none;
	-webkit-appearance: none;
	border: 2px solid #c2c0c6;
	background-color: #fff;
	background-color:#F5F5F7;
}

#page-name-sp:focus {
	background-color:#F5F5F7;
	border: 2px solid #009ED8;
	box-shadow: none;
	outline:0 none;
}

#save-name, #cancel-name {
	opacity:0;
	border-radius: 3px;
	font-size: 16px;
	color: #fff;
	font-family: 'ProxReg';
	padding: 0 8px;
	cursor:pointer;
	border-radius: 3px;
	-o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

#save-name.disabled, #cancel-name.disabled, #save-name.disabled:hover, #cancel-name.disabled:hover {
	background-color:#ccc;
	cursor:default;
}

#save-name {
	background-color: #089900;
}

#save-name:hover {
	background-color: #097f01;
}

#save-name:focus, #cancel-name {
	border: none;
	box-shadow: none;
	outline:none;
}

#cancel-name {
	background-color:#C71621;
}

#cancel-name:hover {
	background-color:#9e0c13;
}

#save-msg {
	opacity:0;
	position:absolute;
	color:#333;
	font-size:12px;
	text-align:center;
}

#page-name-sp:empty:not(:focus):before{
    content:attr(data-ph);
    color:#ccc;
}

/**************************************************************************************************************************************************/

#image-file {
	width:200px;
	padding:5px 10px;
	box-shadow: none;
	-webkit-appearance: none;
	border-radius:3px;
	border: 2px solid #c2c0c6;
	background-color:#F5F5F7;
	color:#01162a;
	height: 28px;
	line-height: 14px;
	cursor:pointer;
}

#image-upload {
	font-size:14px;
	text-align: center;
	padding: 5px 10px;
	margin-top: 10px;
	border-radius: 3px;
	width: 70px;
	margin-left: auto;
	margin-right: auto;
	border:none;
}

#image-file.no-image {
	color:#bbbbbb;
}

#pageId {
	display:none;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin-left: -4px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	height: 28px;
	line-height:28px;
	padding: 0 5px;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

#uploadFile {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border: 2px solid #c2c0c6;
	border-right:none;
	background-color: #F5F5F7;
	height:28px;
	padding: 6px 10px 5px;
	font-size: 14px;
	line-height: 14px;
	font-family:'ProxThin';
}

.jump-actions {
	text-align:center;
	border-bottom:1px dotted #ccc;
	padding-bottom: 10px;
}

.jump-page-action {
	padding:5px;
	border-radius:3px;
	display:inline-block;
	margin-left: 5px;
	margin-right: 5px;
	width: 51px;
	font-size:14px;
}